/* Style overrides for IE 6 */
body {
  font-size: 1.1em;
}

#layoutcontainer {
  float: left;
  width: 100%;
}

#content {
  width: 100%;
  overflow: hidden;
}

pre {
  margin: 2em 0;
  word-wrap: break-word;
  width: 95%;
  float: left;
}

.note {
  height: 68px;
}
