[submodule "vendor/silex"]
	path = vendor/silex
	url = https://github.com/fabpot/Silex.git
[submodule "vendor/Symfony/Bridge/Twig"]
	path = vendor/Symfony/Bridge/Twig
	url = https://github.com/symfony/TwigBridge
[submodule "vendor/swiftmailer"]
	path = vendor/swiftmailer
	url = https://github.com/swiftmailer/swiftmailer
[submodule "vendor/Symfony/Component/Console"]
	path = vendor/Symfony/Component/Console
	url = http://github.com/symfony/Console.git
