img
{
  vertical-align: middle;
}

.js_active
{
   cursor: pointer;
   display: inline-block;
   background: url(/images/btn-open.png) no-repeat 550px center;
}

ul.error_list
{
  margin: 0;
  list-style: none;
  color: #f22;
}

ul.error_list li
{
  list-style: none;
}

pre
{
  background-color: #000;
  overflow: auto;
  width:100%;
  line-height: 1.3em;
  font-size: 14px;
  color: #fff;
}

pre code
{
  background-color: #000;
}

pre.command-line
{
  background-color: #333;
  color: #eee;
  padding-bottom: 10px;
}

pre.command-line code
{
  background-color: #333;
}

blockquote
{
    padding: 2px 20px 5px 45px;
    margin: 15px 0;
    background-color: #fff;
}

div.admonition
{
  padding: 2px 20px 5px 45px;
  margin: 15px 0;
  background-color: #fff;
}

div.note
{
  background: #fff url(/images/note.gif) no-repeat -5px -5px;
}

div.caution
{
  background: #fff url(/images/caution.gif) no-repeat -5px -5px;
}

div.tip
{
  background: #fff url(/images/tip.gif) no-repeat -5px -5px;
}

div.seealso
{
    background: #fff url(/images/seealso.png) no-repeat -5px -5px;
}

.admonition-title
{
    display: none;
}

blockquote.quote
{
  background: #D7CABA;
}

.sidebar
{
  padding: 10px;
  background: #eee;
}

.sidebar p.sidebar-title
{
  margin: -10px;
  margin-bottom: 10px;
  padding: 10px;
  background: #ddd;
  font-style: italic;
}

.navigation
{
  font-family: Arial, sans-serif;
  padding: 15px 0;
  font-size: 0.9em;
}

.navigation a
{
  text-decoration: none;
}

.navigation a:hover
{
  text-decoration: underline;
}

.navigation .separator
{
  padding: 0 10px;
  color: #ccc;
}

.feedback p
{
  font-family: Arial, sans-serif;
  color: #858585;
  font-size: 0.8em;
}

.feedback h3
{
  border-top: 1px solid #ddd;
  font-family: Georgia, "Times New Roman", serif;
  margin-top: 10px;
  padding-top: 20px;
  color: #858585;
}

.toc
{
  margin-top: 10px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #e3e3e3;
  -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
  font-family: Arial, sans-serif;
}

.toc h2
{
  margin: 0;
  padding: 0;
}

.pages
{
  padding: 10px 0 0 0;
}

.pages ul.inline
{
  display: inline;
  padding: 5px 0 0 0;
}

.pages .inline li
{
  display: inline;
  margin: 0 5px;
}

.toc a
{
  text-decoration: none;
  color: #777;
}

.toc a:hover
{
  text-decoration: underline;
}

.toc li
{
  padding: 2px;
  list-style: square;
  margin-left: 15px;
}

.toc li.current
{
  font-weight: bold;
  background-color: #e3e3e3;
}

.toc ul.inline
{
  padding: 0;
  margin: 0;
  margin-left: 3px;
}

.toc .inline li
{
  margin: 0;
  padding: 0;
}

.toc li.separator
{
  color: #ccc;
}

#release_info
{
  background-color: #e3e3e3;
  border: 1px solid #e3e3e3;
  margin-bottom: 15px;
  -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
  width: 290px;
}

#license
{
  margin-top: 40px;
  line-height: 1.2em;
  font-size: 80%;
}

#license img
{
  margin-right: 5px;
}

table.docutils
{
    margin-bottom: 10px;
}

table.docutils th
{
  font-weight:bold;
  background-color: #efefef;
}

table.docutils td, table.docutils th
{
  padding: 4px 6px;
  border: 0;
  border-bottom: 1px solid #ddd;
  text-align: left;
  vertical-align: top;
}

#searchform
{
    display: inline;
}

#search
{
    -webkit-appearance: searchfield;
}

.navigation li
{
    margin-left: 0;
}

a.headerlink
{
    padding: 2px;
    color: #ddd;
    text-decoration: none;
    font-size: 80%;
}

a.reference em, a.internal em
{
    font-style: normal;
}

#guides ul ul, #contributing ul ul
{
  display: inline;
  padding: 5px 0 0 0;
}

#guides ul ul li, #contributing ul ul li
{
  display: inline;
  margin: 0;
}

.sidebarbox
{
    margin-top: 10px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #e3e3e3;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
    font-family: Arial, sans-serif;
}

.sidebarbox h2
{
  margin: 0;
  padding: 0;
}

.sidebarbox h3
{
  margin: 0;
  padding: 0;
  margin-top: 5px;
}

#searchbox h3 a.nolink
{
    padding: 0;
    text-decoration: none;
}

#searchbox h3 a.nolink:hover
{
    text-decoration: underline;
}

div.breadcrumb h3
{
    display: none;
}

div.breadcrumb ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 5px;
}

div.breadcrumb li
{
    display: inline;
    margin: 0;
    padding: 0;
    line-height: 0.9em;
}

div.breadcrumb li a
{
    color: #777;
    text-decoration: none;
}

div.breadcrumb li a:hover
{
  text-decoration: underline;
}

.p-Indicator
{
    color: #FF8400;
}

ul.search li
{
    margin-left: 0;
    padding: 5px 0 5px 20px;
    background-image: url(file.png);
    background-repeat: no-repeat;
    background-position: 0 7px;
}

div.genindex-jumpbox
{
    font-size: 85%;
    border: 0;
    margin: 1em 0 1em 0;
    padding: 0.4em;
}

div.genindex-jumpbox
{
    color: #999;
}

div.genindex-jumpbox strong
{
    font-weight: normal;
}

div.genindex-jumpbox a
{
    padding: 0 4px;
}

h2#A, h2#B, h2#C, h2#D, h2#E, h2#F, h2#G, h2#H, h2#I, h2#J, h2#K, h2#L, h2#M, h2#N, h2#O,
h2#P, h2#Q, h2#R, h2#S, h2#T, h2#U, h2#V, h2#W, h2#X, h2#Y, h2#Z
{
    background-color: #eee;
    border-bottom: 1px solid #aaa;
    font-size: 120%;
    font-weight: bold;
    margin: 20px 0;
    padding: 5px;
}

.indextable a, div.genindex-jumpbox a
{
    text-decoration: none;
}

.indextable a:hover, div.genindex-jumpbox a:hover
{
    text-decoration: underline;
}

div.configuration-block em
{
  margin-bottom: 10px;
}

div.configuration-block li
{
  padding: 5px;
}

div.configuration-block em
{
    font-style: normal;
    font-size: 90%;
}

div.jsactive
{
  position: relative;
}

div.jsactive ul
{
  list-style: none;
}

div.jsactive li
{
  float: left;
  list-style: none;
  margin-left: 0;
  -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
  background-color: #ddd;
  margin-right: 5px;
}

div.jsactive .selected
{
    background-color: #000;
}

div.jsactive .selected a
{
    color: #fff;
    text-decoration: none;
}

div.jsactive .selected a:hover
{
    color: #fff;
    text-decoration: underline;
}

div.jsactive a
{
    color: #000;
    text-decoration: none;
}

div.jsactive a:hover
{
    color: #000;
    text-decoration: underline;
}

div.jsactive div
{
  position: absolute;
  top: 30px;
  left: 0;
}

div.jsactive div div
{
  position: static;
}

div.jsactive pre
{
    margin: 0;
}

.infobar
{
    background-color:#FFFFFF;
    float:right;
    font-size:0.9em;
    margin:15px;
    position:relative;
    width:300px;
    z-index:999;
}

.highlight
{
    padding: 0.7em;
    overflow: auto;
    margin-bottom: 10px;
}



#doc li {
    margin-left: 2em;
    list-style: disc;
}

.pre
{
    font-family: monospace;
    font-size: 1.3em;
}
