div#topicmap {
  font-size: 0.8em;
  line-height: 1.5em;
}

#sidepanel div#topicmap ul {
  margin: 0;
  list-style: none;
  font-size: 1em;
}

div#topicmap .currenttopic {
  text-decoration: underline;
}

div#topicmap li {
  margin-bottom: 1em;
  font-weight: bold;
}

div#topicmap li li {
  margin-left: 2em;
  margin-bottom: 0;
  font-weight: normal;
}

div#topicmap ul ul ul {
  /*display: none;*/
}

.note {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: 1em 0 2em 0;
  padding: 10px;
  padding-left: 68px;
  background: #ddd url(/images/note.png) 10px 10px no-repeat;
  min-height: 48px;
}

.note .notetitle {
  font-weight: bold;
}

.codeph,
.cmdname {
  font-family: monaco,monospace,courier;
  font-size: 1em;
  color: #000;
}

div.familylinks {
  margin-top: 2em;
  border-top: 1px solid #aaa;
}

div.parentlink {
  padding: 1em 0;
}

div.parentlink strong {
  color: #666;
}

div.previouslink {
  float: left;
}

div.nextlink {
  float: right;
}

div.previouslink strong, div.nextlink strong {
  text-transform: uppercase;
}

div.previouslink a, div.nextlink a {
  text-decoration: none;
  font-weight: bold;
}

.olchildlink {
  margin-bottom: 0.5em;
}

.olchildlink a {
  font-weight: bold;
}

div.relinfo {
  clear: both;
  padding: 1em 0;
}

div.relinfo strong {
  color: #888;
}

div.relinfo div {
  margin-left: 2em;
}

#sidepanel #v3docnote {
  margin: 15px 15px 0 0;
  padding-bottom: 0;
}
