{% extends "layout.html" %}

{% block title 'Download Archive' %}

{% block content %}
        <h1>Download Archive</h1>

        {% if downloads|length <= 0 %}
            <p>
              There are currently no downloads in the system.  You may add one using the form shown above.
            </p>
        {% else %}
            <table id="downloadadmin">
              <thead>
                <tr>
                  <th>Filename</th>
                  <th>Version</th>
                  <th>Released</th>
                  <th>Size</th>
                </tr>
              </thead>
              <tbody>
                  {% for download in downloads %}
                      <tr id="download_{{ download.id }}">
                        <td><a href="{{ path('download_file', {'filename': download.filename}) }}">{{ download.filename }}</a></td>
                        <td>{{ download.version }}</td>
                        <td>{{ download.time_created|date('j F Y') }}</td>
                        <td>{{ download.filesize }} bytes</td>
                      </tr>
                  {% endfor %}
              </tbody>
            </table>
        {% endif %}
{% endblock %}

{% block sidepanel %}
    {% include '_repository.html' %}
    {% include '_pear_channel.html' %}
{% endblock %}
