{% extends "layout.html" %}

{% block title 'Reporting Bugs' %}

{% block content %}
        <h1>Submitting Bug Reports</h1>
    
        <p>
          If you've found a bug, we really want to know about it so that we can fix it.  We use
          a service called <a href="http://swiftmailer.lighthouseapp.com/">Lighthouse</a> for managing our bugs and feature requests.
        </p>
    
        <p>
          Generally we prefer if you don't email us directly to tell us about a bug since we will only
          add it to Lighthouse.  This does not mean that we pay any less attention to your problem than
          we would otherwise do without the issue tracker.  Using Lighthouse makes things far easier for
          use to organize our workflow and it allows you to keep informed as we work on the problem.
        </p>
    
        <h2>When you enter your bug&#8230;</h2>
    
        <p>
          You need to make sure you provide as much detail as possible, such as the code you're using that
          is revealing the problem, or the steps taken to reproduce the problem.  The version number of
          both your PHP installation and the Swift Mailer download you have is also vital information.
        </p>
    
        <ol>
          <li>Go to our Lighthouse project at <a href="http://swiftmailer.lighthouseapp.com/">http://swiftmailer.lighthouseapp.com/</a></li>
          <li>If you have an account already, log in, otherwise create a new account</li>
          <li>(Preferably) do a quick search to make sure nobody else has submitted the same bug</li>
          <li>Click on "Create a New Ticket"</li>
          <li>Make sure you use a descriptive title and as much detail as you can in your description:
            <ul>
              <li>Describe what is happening and what you expect to happen</li>
              <li>Include the code the revealed the problem and/or the steps to reproduce the problem</li>
              <li>Include the exact version of your PHP installation (<samp>phpversion()</samp> will show this)</li>
              <li>Include the exact version of Swift Mailer you're using (check the <samp>VERSION</samp> file)</li>
              <li>Don't add any tags or assign the ticket to any developers.  The development team will do this.</li>
            </ul>
          </li>
        </ol>
    
        <p>
          When we work on the ticket that you have submitted, you will receive emails from Lighthouse (at your discretion)
          so that you are kept informed about the developments.  You can update the ticket with new information by replying
          to these emails.
        </p>
    
        <p>
          Go to our <a href="http://swiftmailer.lighthouseapp.com/">Lighthouse page</a> at
          <a href="http://swiftmailer.lighthouseapp.com/">http://swiftmailer.lighthouseapp.com/</a>
          to enter your bug.
        </p>
{% endblock %}

{% block sidepanel %}
      <div class="supplementary corners top right bottom left iconbox">
        <a href="http://swiftmailer.lighthouseapp.com/"><img src="{{ app.request.basepath }}/images/add.png" alt="add a new bug" /></a>
        <dl>
          <dt><a href="http://swiftmailer.lighthouseapp.com/">Create a New Ticket</a></dt>
          <dd>
            Add a new bug report in the Lighthouse system
          </dd>
        </dl>
      </div>
  
      <div class="supplementary secondary corners top right bottom left">
        <h2>Ask on the Google Group</h2>
        <p>
          If you're contacting us to get some support, we'd strongly advise that you use the <a href="http://groups.google.com/group/swiftmailer">Google Group</a>
          since you'll get a faster response and others will be able to benefit from any solutions
          that arise from the discussion.
        </p>
        <p>
          The Swift Mailer group on Google is <a href="http://groups.google.com/group/swiftmailer">swiftmailer@googlegroups.com</a> which you can access
          <a href="http://groups.google.com/group/swiftmailer">here</a>.
        </p>
      </div>
{% endblock %}
