{% extends "layout.html" %}

{% block title 'Powerful component based mailing library for PHP' %}

{% block content %}
        <h1>Free Feature-rich PHP Mailer</h1>
    
        <p class="homepageintro">
          Swift Mailer integrates into any web app written in PHP 5, offering a flexible and elegant
          object-oriented approach to sending emails with a multitude of features.
        </p>
    
        <ul class="featurelist">
          <li class="feature1"><span>Send emails using SMTP, sendmail, postfix or a custom Transport implementation of your own</span></li>
          <li class="feature2"><span>Support servers that require username &amp; password and/or encryption</span></li>
          <li class="feature3"><span>Protect from header injection attacks without stripping request data content</span></li>
          <li class="feature4"><span>Send MIME compliant HTML/multipart emails</span></li>
          <li class="feature5"><span>Use event-driven plugins to customize the library</span></li>
          <li class="feature6"><span>Handle large attachments and inline/embedded images with low memory use</span></li>
        </ul>
{% endblock %}

{% block sidepanel %}
      <div id="downloadbox" class="supplementary iconbox corners top right bottom left">
        <a class="download-file" href="{{ path('download_file', {'filename': currentDownload.filename}) }}"><img src="/images/download.png" alt="download" /></a>
        <dl>
          <dt><a class="download-file" rel="nofollow" href="{{ path('download_file', {'filename': currentDownload.filename}) }}">{{ currentDownload.filename }}</a></dt>
          <dd>
            <div class="releasedate">{{ currentDownload.time_created|date('j F Y') }}</div>
            <a class="download-file" rel="nofollow" href="{{ path('download_file', {'filename': currentDownload.filename}) }}">Download</a>
          </dd>
        </dl>
      </div>
  
      <div id="docbox" class="supplementary iconbox secondary">
        <a href="{{ path('doc', {'page': 'introduction'}) }}"><img src="/images/docs.png" alt="documents" /></a>
        <dl>
          <dt><a href="{{ path('doc', {'page': 'introduction'}) }}">Complete User Guide</a></dt>
          <dd>
            Read the documentation and see how Swift Mailer works
          </dd>
        </dl>
      </div>
{% endblock %}
