<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
    <head>
        <meta name="keywords" content="swift mailer, swiftmailer, swiftmail, php mailer, phpmailer, oop mailer, bulk emailing" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <link href="{{ app.request.basepath }}/css/global.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basepath }}/css/homepage.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basepath }}/css/download.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basepath }}/css/documentation.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basepath }}/css/pygments.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basepath }}/css/doc.css" media="screen" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="{{ app.request.basepath }}/js/jquery-1.6.1.min.js"></script>

        <!--[if IE]>
        <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/css/ie.css" />
        <script type="text/javascript" src="{{ app.request.basepath }}/js/DD_roundies_0.0.2a-min.js"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/js/DD_belatedPNG_0.0.7a-min.js"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/js/ie.js"></script>
        <![endif]-->

        <title>{% block title '' %} &#8211; Swift Mailer</title>

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-10643821-1']);
            _gaq.push(['_setDomainName', '.swiftmailer.org']);
            _gaq.push(['_trackPageview']);

            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

            $(document).ready(function () {
                $("a.download-file").click(function () {
                    _gaq.push(['_trackEvent', 'Downloads', 'Swiftmailer', $("a.download-file").attr('href')]);
                });
            });
        </script>
  </head>
  <body>
    <div id="layoutcontainer">
      
    <div id="layout">
      
      <div id="header" class="corners top right left">
        <div id="headercontent">
          <img id="logo" src="{{ app.request.basepath }}/images/logo.png" alt="Swift Mailer" />
          
          <div id="navigation">
            <ul>
              <li><a href="{{ path('homepage') }}">home</a></li>
              <li><a href="{{ path('download') }}">download</a></li>
              <li><a href="{{ path('doc', {'page': 'introduction'}) }}">documentation</a></li>
              <li><a href="{{ path('bugs') }}">bugs</a></li>
              <li><a href="http://blog.swiftmailer.org/">blog</a></li>
              <li class="tab corners top right left"><a class="download-file" href="{{ path('download_file', {'filename': currentDownload.filename}) }}">current {{ currentDownload.version }}</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div id="wrapper" class="corners bottom right left">

          <div>
              <div id="container">
                  <div id="content">
                      {% block content '' %}
                  </div>
              </div>
          </div>

          <div id="sidepanel">
              {% block sidepanel '' %}
          </div>

        <div id="footer">
          <div id="footercontent">
            
            <div id="about">
              <p><strong>&copy; 2009 Chris Corbyn</strong></p>
            </div>
        
        <div id="support">
          
          <dl class="getstarted">
            <dt>Get Started</dt>
            <dd>
              <ul>
                <li><a href="{{ path('download') }}">Download</a></li>
                <!--<li>Tutorials</li>-->
                <li><a href="{{ path('doc', {'page': 'introduction'}) }}">User Guide &amp; Book</a></li>
              </ul>
            </dd>
          </dl>

          <dl class="related">
            <dt>Get Help</dt>
            <dd>
              <ul>
                <li><a href="{{ path('doc', {'page': 'introduction'}) }}">Documentation</a></li>
                <li><a href="{{ path('bugs') }}">Report a Bug</a></li>
                <li><a href="http://groups.google.com/group/swiftmailer">Google Group</a></li>
              </ul>
            </dd>
          </dl>
          
          <dl class="thanks">
            <dt>Thanks to</dt>
            <dd>
              <ul>
                <li><a href="http://github.com/">github</a></li>
                <li><a href="http://lighthouseapp.com/">Lighthouse</a></li>
                <li><a href="http://forums.devnetwork.net/">devnetwork.net</a></li>
              </ul>
            </dd>
          </dl>
            
            </div>
            
          </div>
        </div>
        
      </div>
      
    </div>
    
    </div>
  </body>
</html>
